.cart{
    width: 85%;
    margin: auto;
}
.emptyCart, .cartTitle{
    text-align: center;
}
.cartTitle{
    margin: 1em 0;
}
.cartList, .buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.buttons{
    margin-top: 2em;
}
.buttons div{
    margin: 0 1em;
}