.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em;
}
.image{
    width: 30%;
    margin-right: 2em;
}
.textContainer{
    width: 25%;
}
.text{
    font-size: 1.2em;
}
.keepBuyingButton{
    margin-bottom: 1em;
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
        margin: 0 2em;
    }
    .image, .textContainer{
        width: 100%;
        margin: 1em 0;
    }
}