.burger{
    display: none;
}

@media (max-width: 768px){
    .burger{
        display: block;
        margin-left: 0.5em;
    }
    .logo img{
        width: 105%;
        margin: 0;
    }
    .eastSide{
        padding: 0 0 1em 0;
    }
    .westSide{
        padding-bottom: 1em;
    }
}